<!-- Setting Finance Menu -->
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">
            <i class="icon-settings panel-head-icon"></i>
            <span class="panel-title-text">All Email Template</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="v-menu pt-0 pb-0">
            {% for value in template_menu %}
                <li id="{{ value.template }}" class="nav-link"><a href="{{ common.info.url_route~'emailtemplate&for='~value.template }}"><span>{{ value.name }}</span></a></li>
            {% endfor %}
        </div>
    </div>
</div>