{{ include('common/header.twig') }}
<div class="notfound-wrapper">
	<h1 class="notfound-ttl">401</h1>
	<p class="notfound-tag-1">Access denied!!!</p>
	<span class="notfound-tag-2">You do not have enough execute permissions...</span>
</div>
<!-- Footer -->
{{ include('common/footer.twig') }}

