{{ include('common/header.twig') }}
<div class="notfound-wrapper">
	<h1 class="notfound-ttl">403</h1>
	<p class="notfound-tag-1">Forbidden!!!</p>
	<span class="notfound-tag-2">you do not have the necessary permissions to access this page...</span>
</div>
{{ include('common/footer.twig') }}