{{ include('common/header.twig') }}
<div class="notfound-wrapper">
	<h1 class="notfound-ttl">404</h1>
	<p class="notfound-tag-1">Page not found!!!</p>
	<span class="notfound-tag-2">what you're trying to visit does not exsir...</span>
</div>
{{ include('common/footer.twig') }}